 .component--star-sheet {
     pointer-events: none;
     position: fixed;
     top: 0;
     width: 100%;
     height: 100%;


     .circle {
         --size: 1px;
         --x: 0%;
         --y: 0%;

         --opacity: 1;

         background: #fff;
         opacity: var(--opacity);
         position: absolute;

         inline-size: var(--size);
         block-size: var(--size);
         border-radius: 50%;

         inset: var(--y) var(--x) auto auto;
     }
 }
    .global-navigation {
        color: var(--gray-1);
        --font-size-title: var(--font-size-5);
        --font-weight-title: var(--font-weight-6);

        position: sticky;
        top: 0;
        z-index: 10;

        display: flex;
        align-items: center;


        padding-block: var(--size-1);
        padding-inline: var(--size-fluid-2);

        .links {
            display: flex;
            gap: var(--size-3);
        }

        a {
            text-decoration: none;
            scale: 1;
            transform-origin: 50% 100%;
            transition: scale 100ms var(--ease-out-1);

            &:hover {
                scale: 1.1;
            }
        }

        h1 {
            flex: 1;
            font-family: var(--font-rounded-sans);
            font-size: var(--font-size-title);
            font-weight: var(--font-weight-title);

            /* line-height: var(--font-lineheight-1); */
        }
    }

raising-block {
  --scale: 0.98;

  display: block;
  scale: var(--scale);
    opacity: 1;
  transition:
    scale 250ms var(--ease-out-1), opacity 200ms var(--ease-1);

  &.ready {
    opacity: 0.6;
  }

  &.visible {
    --scale: 1;
    box-shadow: var(--shadow-1);
    opacity: 1;
  }
}

h-image-swap {
    display: grid;
    place-items: center;
    height: var(--size-12);
    position: sticky;
    top: 50px;


    .image {
        display: grid;
        grid-template-areas: "main";
        place-items: center;

        max-inline-size: 200px;
        aspect-ratio: 1 / 1;
        border-radius: var(--radius-blob-5);
        padding: var(--size-2);
    }

    img {
        block-size: auto;
        max-inline-size: 100%;
    }

    picture {
        grid-area: main;
        opacity: 0;
        transition: opacity 500ms var(--ease-out-5);
    }

    &[data-visible="1"] picture:nth-child(1) {
        opacity: 1;
    }
    &[data-visible="2"] picture:nth-child(2) {
        opacity: 1;
    }
}
